.animate-fade-out-right {
	animation: fade-out-right 0.5s ease-out forwards;
	z-index: 1000;
}
@keyframes fade-out-right {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(100vw);
	}
}

.animate-fade-from-above {
	animation: fade-from-above 0.5s ease-out forwards;
	z-index: 1000;
}
@keyframes fade-from-above {
	0% {
		opacity: 0;
		transform: translateY(-70px) scale(1.2);
	}

	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

.animate-move-down {
	animation: move-down 0.5s ease-out forwards;
}
@keyframes move-down {
	0% {
		transform: translateY(-70px);
	}

	100% {
		transform: translateY(0px);
	}
}

.animate-move-up {
	animation: move-up 0.5s ease-out forwards;
}
@keyframes move-up {
	0% {
		transform: translateY(0px);
	}

	100% {
		transform: translateY(-70px);
	}
}

.animate-hide-preloader {
	animation: hide-preloader 0.5s ease-out forwards;
}
@keyframes hide-preloader {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
