.animate-fade-from-left {
	animation: fade-from-left 0.5s ease-out;
}
@keyframes fade-from-left {
	0% {
		opacity: 0;
		transform: translateX(-100vw);
		z-index: 1000;
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.animate-fade-from-above {
	animation: fade-from-above 0.5s ease-out;
}
@keyframes fade-from-above {
	0% {
		opacity: 0;
		transform: translateY(-65px) scale(1.2);
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
		z-index: 1000;
	}

	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
		box-shadow: none;
	}
}

.animate-move-down {
	animation: move-down 0.5s ease-out;
}
@keyframes move-down {
	0% {
		transform: translateY(-65px);
	}

	100% {
		transform: translateY(0px);
	}
}
