button {
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	flex-shrink: 0;
	transition: transform 0.1s ease-out;
}

button:active,
button:hover {
	transform: scale(1.1);
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

html,
body {
	touch-action: manipulation;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

span,
div {
	font-size: 12px;
}

main {
	max-width: 430px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}

h2 {
	text-align: center;
	margin-bottom: 10px;
}

.hidden {
	visibility: hidden;
}

.pill {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 60px;
	margin-bottom: 5px;
	background-color: var(--color-main);
	border-radius: 30px;
	transition: background-color 0.25s ease-out;
}
