#matches {
	padding-top: 15px;
	border-top: 1px solid gray;
	display: flex;
	flex-direction: column;
}

.match,
.add-match {
	padding-left: 5px;
	padding-right: 5px;
}

.team {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	width: calc((100% - 50px - 30px - 5px) / 2);
	background-color: white;
	height: 50px;
	overflow: hidden;
}

.match > button,
.add-match > button {
	margin-left: auto;
	background-color: white;
	border: none;
	border-radius: 25px;
	height: 50px;
	width: 50px;
	color: var(--color-secondary);
	font-size: 30px;
}

.match > span,
.add-match > span {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	flex-shrink: 0;
	font-weight: bold;
	font-size: 16px;
}

.match-player {
	font-size: 16px;
	height: 25px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-match {
	background-color: var(--color-secondary);
	position: sticky;
	bottom: 5px;
	z-index: 1000;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
	margin-bottom: 20px;
}

.add-match .match-player {
	transition: background-color 0.25s ease-out;
}

.add-match > span {
	color: white;
}

.add-match .match-player.highlight {
	background-color: var(--color-main);
	color: white;
}
