#matches {
	display: flex;
	flex-direction: column;
}

.match,
.add-match {
	padding-left: 5px;
	padding-right: 5px;
}

.match {
	/* transition: translate 0.1s ease-out; */
}

.team {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	width: calc((100% - 50px - 30px - 5px) / 2);
	background-color: white;
	height: 50px;
	overflow: hidden;
}

.match > button,
.add-match > button {
	margin-left: auto;
	background-color: white;
	border: none;
	border-radius: 25px;
	height: 50px;
	width: 50px;
	color: var(--color-secondary);
	font-size: 30px;
}

.add-match > button {
	transition: color 0.1s ease-out;

	color: var(--color-secondary);
}

.match > span,
.add-match > span {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	flex-shrink: 0;
	font-weight: bold;
	font-size: 16px;
}

.match > span,
.match > button,
.match > .team {
	transition:
		background-color 0.1s ease-out,
		color 0.1s ease-out;
}

.match.disabled {
	background-color: var(--color-gray);
}

.match.disabled .team {
	background-color: var(--color-white);
}

.match.disabled button {
	color: var(--color-gray);
	background-color: var(--color-white);
}

.match.disabled > span {
	color: var(--color-white);
}

.match.is-dragging {
	transform: scale(1.05) !important;
	transition:
		background-color 0.25s ease-out,
		transform 0.1s ease-out,
		translate 0s ease-out;
}

.match-player {
	font-size: 16px;
	height: 25px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-match {
	background-color: var(--color-secondary);
	position: sticky;
	bottom: 5px;
	z-index: 1000;
}

.add-match.highlight {
	background-color: var(--color-green);
}

.add-match.highlight button {
	color: var(--color-green);
}

.add-match .match-player {
	transition: background-color 0.25s ease-out;
}
.add-match > div {
	transition: background-color 0.25s ease-out;
	background-color: white;
}

.add-match > span {
	color: white;
}

.add-match .team1 {
	border: 3px solid var(--color-blue);
}
.add-match .team2 {
	border: 3px solid var(--color-red);
}
