.modal {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100dvh;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(4px);
	z-index: 2000;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	display: flex;

	transition: opacity 0.25s ease-out;
	opacity: 0;

	&.show {
		/* display: flex; */
		pointer-events: auto;
		opacity: 1;

		.message-box {
			transform: translateY(0);
			scale: 1;
		}
	}

	.message-box {
		border-radius: 20px;
		overflow: hidden;
		width: 100%;
		max-width: 300px;
		height: 150px;
		background-color: white;
		display: grid;
		grid-template-rows: 30px 1fr 35px;
		grid-template-columns: 1fr 1fr;
		box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
		border: 1px solid var(--color-secondary);
		background-color: var(--color-secondary);

		transition:
			transform 0.25s ease-out,
			scale 0.25s ease-out;
		transform: translateY(-30px);
		scale: 1.05;

		span {
			font-size: 14px;
		}

		& > span {
			display: flex;
			align-items: center;
			width: 100%;

			&:nth-of-type(1) {
				justify-content: center;
				align-items: center;
				border-bottom: 1px solid var(--color-secondary);
				grid-area: 1 / 1 / 2 / 3;
				background-color: var(--color-secondary);
				color: white;
				font-weight: bold;
			}

			&:nth-of-type(2) {
				justify-content: center;
				grid-area: 2 / 1 / 4 / 3;
				background-color: white;
				padding-bottom: 35px;
				display: flex;
				flex-direction: column;
			}
		}

		b {
			color: var(--color-red);
		}

		button {
			border: none;
			border-radius: 15px;
			padding: 0;
			height: 30px;
			background-color: var(--color-secondary);
			color: white;
			font-size: 12px;
			grid-row: 3 / 4;

			&:nth-of-type(1) {
				margin-left: 5px;
				margin-right: 3px;
				grid-column: 1 / 2;
			}

			&:nth-of-type(2) {
				margin-right: 5px;
				margin-left: 3px;
				grid-column: 2 / 3;
			}
		}
	}
}
