#players {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid gray;
	margin-bottom: 20px;
}

.player.team1 {
	background-color: var(--color-blue);
}
.player.team1 .count-games {
	border-color: var(--color-blue);
	color: var(--color-blue);
}
.player.team1 button {
	color: var(--color-blue);
}

.player.team2 {
	background-color: var(--color-red);
}
.player.team2 .count-games {
	border-color: var(--color-red);
	color: var(--color-red);
}
.player.team2 button {
	color: var(--color-red);
}

.player > div {
	display: flex;
}

.player > div:nth-of-type(1) {
	display: grid;
	grid-template-columns: 60px 1fr;
	grid-template-rows: 28px 1fr;
	grid-auto-flow: dense;
	flex-shrink: 0;
	min-width: 200px;
	width: 50%;
	height: 50px;
	border-radius: 25px;
	background-color: white;
}

.player .count-games {
	grid-area: 1 / 1 / 3 / 2;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: bold;
	width: 60px;
	height: 60px;
	border: 5px solid var(--color-secondary);
	color: var(--color-secondary);
	border-radius: 30px;
	margin-right: 10px;
	margin-top: -5px;
	margin-left: -1px;
	transition:
		border-color 0.1s ease-out,
		color 0.1s ease-out;
	/* box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.3); */
}

.player .player-name {
	grid-area: 1 / 2 / 3 / 3;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	align-self: center;
}

.player .player-name.with-details {
	grid-area: 1 / 2 / 2 / 3;
	align-self: end;
}

.player .previous-matches {
	padding-left: 10px;
	grid-area: 2 / 2 / 3 / 3;
	align-self: start;
	font-style: italic;
	font-size: 10px;
}

.player .previous-matches.highlight {
	color: var(--color-red);
}

.player .count-pair {
	padding-left: 10px;
	padding-right: 5px;
	/* font-size: 10px; */
}

.player > button,
.add-player > button {
	font-size: 30px;
	border: none;
	flex-shrink: 0;
	margin-left: auto;
}

.player > button {
	margin-right: 5px;
	height: 50px;
	width: 50px;
	border-radius: 25px;
	background-color: white;
	color: var(--color-secondary);
}

.add-player {
	display: flex;
	align-items: center;
	height: 60px;
}

.add-player > button {
	color: white;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: var(--color-secondary);
}

.add-player > input {
	width: calc(100% - 60px - 5px);
	height: 60px;
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
	border: 2px solid var(--color-secondary);
	border-radius: 30px;
	font-size: 16px;
	transition: border 0.1s ease-in;
}

.add-player > input:focus {
	border: 4px solid var(--color-secondary);
	outline: none;
}
