:root {
	--color-white: #ecf0f1;
	--color-blue: #3498db;
	--color-dark-blue: #2c3e50;
	--color-green: #2ecc71;
	--color-gray: #7f8c8d;
	--color-yellow: #f1c40f;
	--color-red: #e74c3c;
	--color-black: #2d3436;

	--color-main: var(--color-white);
	--color-secondary: var(--color-dark-blue);
}
