:root {
	--color-main: #f9b900;
	--color-secondary: #eb6534;
	--color-white: #eaeaea;
	--color-blue: #266dd3;
	--color-black: #323031;
	--color-green: #7cae7a;
}

button {
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	flex-shrink: 0;
	transition: transform 0.1s ease-out;
}

button:active {
	transform: scale(1.1);
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

html,
body {
	touch-action: manipulation;
	/* background-color: var(--color-white); */
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

span,
div {
	font-size: 12px;
}

main {
	max-width: 430px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}

h2 {
	/* border: 1px solid red; */
	text-align: center;
	margin-bottom: 10px;
}

#players {
	padding-top: 10px;
	padding-bottom: 10px;
}

.player {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 60px;
	padding-right: 5px;
	margin-bottom: 5px;
	background-color: var(--color-main);
	border-radius: 30px;
	transition: background-color 0.25s ease-out;
}

.player.selected {
	background-color: var(--color-secondary);
}

.player.selected .count-games {
	border-color: var(--color-secondary);
}

.player > div {
	display: flex;
}

.player > div:nth-of-type(1) {
	align-items: center;
	justify-content: flex-start;
	margin-right: 10px;
	min-width: 200px;
	width: 200px;
	height: 50px;
	border-radius: 25px;
	background-color: white;
}

.player > div:nth-of-type(2) {
	/* border: 1px solid red; */
}

.player .count-games {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: bold;
	width: 60px;
	height: 60px;
	border: 5px solid var(--color-main);
	border-radius: 30px;
	margin-right: 10px;
	transition: border-color 0.25s ease-out;
}

.player .count-pair {
}

.player .player-name {
	font-size: 16px;
	font-weight: bold;
}

.player > button,
.add-player > button {
	background-color: white;
	color: var(--color-secondary);
	font-size: 30px;
	border: none;
	border-radius: 25px;
	flex-shrink: 0;
	height: 50px;
	width: 50px;
	margin-left: auto;
}

.add-player {
	display: flex;
	align-items: center;
	height: 60px;
}

.add-player > button {
	color: white;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: var(--color-secondary);
}

.add-player > input {
	width: calc(100% - 60px - 5px);
	height: 60px;
	padding: 5px;
	text-align: center;
	border: 2px solid var(--color-secondary);
	border-radius: 30px;
	font-size: 16px;
	transition: border 0.25s ease-in;
}

.add-player > input:focus {
	border: 4px solid var(--color-secondary);
	outline: none;
}

/* ADD MATCH */

#matches {
	padding-top: 15px;
	border-top: 1px solid gray;
	display: flex;
	flex-direction: column;
}

.add-match button {
	margin-left: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 100%;
	border-radius: 5px;
}

.add-match {
	background-color: var(--color-secondary);
	border-radius: 30px;
	padding-left: 5px;
	padding-right: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	margin-bottom: 20px;
	position: sticky;
	bottom: 5px;
	z-index: 1000;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
}

.add-match > div:nth-child(2) {
	width: 100%;
	display: flex;
	justify-content: center;
}

.match-players {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.match-players > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	width: 150px;
	height: 50px;
	overflow: hidden;
}

.match-players > span {
	margin-right: 10px;
	margin-left: 10px;
	font-weight: bold;
	font-size: 16px;
	color: white;
}

.add-match > button {
	margin-left: auto;
	background-color: white;
	border: none;
	border-radius: 25px;
	height: 50px;
	width: 50px;
	color: var(--color-secondary);
	font-size: 30px;
}

.add-match-player {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	width: 100%;
	font-size: 16px;
	background-color: white;
	transition: background-color 0.25s ease-out;
}

.add-match-player.highlight {
	background-color: var(--color-secondary);
	color: white;
}

.match {
	display: flex;
	align-items: center;
	background-color: var(--color-main);
	height: 60px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
	border-radius: 30px;
}

.animate-fade-from-left {
	animation: fade-from-left 0.5s ease-out;
}
@keyframes fade-from-left {
	0% {
		opacity: 0;
		transform: translateX(-100vw);
		z-index: 1000;
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.animate-fade-from-above {
	animation: fade-from-above 0.5s ease-out;
}
@keyframes fade-from-above {
	0% {
		opacity: 0;
		transform: translateY(-65px) scale(1.2);
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
		z-index: 1000;
	}

	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
		box-shadow: none;
	}
}

.animate-move-down {
	animation: move-down 0.5s ease-out;
}
@keyframes move-down {
	0% {
		transform: translateY(-65px);
	}

	100% {
		transform: translateY(0px);
	}
}

.match.transition-down {
	margin-top: 65px;
	transition: margin-top 0.75s ease-out;
}

.match > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	width: 150px;
	background-color: white;
	height: 50px;
}

.match > button {
	margin-left: auto;
	background-color: white;
	border: none;
	border-radius: 25px;
	height: 50px;
	width: 50px;
	color: var(--color-secondary);
	font-size: 30px;
}

.match > span {
	margin-right: 10px;
	margin-left: 10px;
	font-weight: bold;
	font-size: 16px;
}

.match > div > span {
	margin-left: 3px;
	margin-right: 3px;
}

.match-player {
	font-size: 16px;
}

/* UTILS */

.hidden {
	visibility: hidden;
}
