:root {
	--color1: #f9b900;
	--color2: #eb6534;
	--color3: #eaeaea;
	--color4: #266dd3;
	--color5: #323031;
}

button {
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	touch-action: manipulation;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

span,
div {
	font-size: 12px;
}

main {
	max-width: 430px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}

h2 {
	/* border: 1px solid red; */
	text-align: center;
	margin-bottom: 10px;
}

#players {
	padding-top: 10px;
	padding-bottom: 10px;
}

.player {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 60px;
	padding-right: 5px;
	margin-bottom: 5px;
	background-color: var(--color1);
	border-radius: 30px;
	transition: background-color 0.25s ease-out;
}

.player.selected {
	background-color: var(--color2);
}

.player.selected .count-games {
	border-color: var(--color2);
}

.player > div {
	display: flex;
}

.player > div:nth-of-type(1) {
	align-items: center;
	justify-content: flex-start;
	margin-right: 10px;
	min-width: 200px;
	width: 200px;
	height: 50px;
	border-radius: 25px;
	background-color: var(--color3);
}

.player > div:nth-of-type(2) {
	/* border: 1px solid red; */
}

.player .count-games {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: bold;
	width: 60px;
	height: 60px;
	border: 5px solid var(--color1);
	border-radius: 30px;
	margin-right: 10px;
	transition: border-color 0.25s ease-out;
}

.player .count-pair {
}

.player .player-name {
	font-size: 16px;
	font-weight: bold;
}

.player > button,
.add-player > button {
	background-color: var(--color3);
	color: red;
	font-size: 30px;
	border: none;
	border-radius: 25px;
	flex-shrink: 0;
	height: 50px;
	width: 50px;
	margin-left: auto;
}

.add-player {
	display: flex;
	align-items: center;
	height: 60px;
}

.add-player > button {
	color: white;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: var(--color1);
}

.add-player > input {
	width: calc(100% - 60px - 5px);
	height: 60px;
	padding: 5px;
	text-align: center;
	border: 2px solid var(--color1);
	border-radius: 30px;
	font-size: 16px;
	transition: border 0.25s ease-out;
}

.add-player > input:focus {
	border: 3px solid var(--color2);
	outline: none;
}

/* ADD MATCH */

#matches {
	padding-top: 15px;
	border-top: 1px solid gray;
	display: flex;
	flex-direction: column;
}

.add-match button {
	margin-left: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 100%;
	border: 1px solid gray;
	border-radius: 5px;
}

.add-match {
	background-color: var(--color4);
	border-radius: 30px;
	padding-left: 5px;
	padding-right: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	margin-bottom: 20px;
	position: sticky;
	bottom: 5px;
	z-index: 1000;
	/* left: 0;
	right: 0; */
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
}

.add-match > div:nth-child(2) {
	width: 100%;
	display: flex;
	justify-content: center;
}

.match-players {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.match-players > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	width: 150px;
	background-color: var(--color3);
	height: 50px;
	overflow: hidden;
}

.match-players > span {
	margin-right: 10px;
	margin-left: 10px;
	font-weight: bold;
	font-size: 16px;
	color: var(--color3);
}

.add-match > button {
	margin-left: auto;
	background-color: var(--color3);
	border: none;
	border-radius: 25px;
	height: 50px;
	width: 50px;
	color: var(--color4);
	font-size: 30px;
}

.add-match-player {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	width: 100%;
	font-size: 16px;
	background-color: none;
	transition: background-color 0.25s ease-out;
}

.add-match-player.highlight {
	background-color: var(--color4);
}

.match {
	display: flex;
	align-items: center;
	background-color: var(--color1);
	height: 60px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
	border-radius: 30px;
}

.match > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	width: 150px;
	background-color: var(--color3);
	height: 50px;
}

.match > button {
	margin-left: auto;
	background-color: var(--color3);
	border: none;
	border-radius: 25px;
	height: 50px;
	width: 50px;
	color: red;
	font-size: 30px;
}

.match > span {
	margin-right: 10px;
	margin-left: 10px;
	font-weight: bold;
	font-size: 16px;
}

.match > div > span {
	margin-left: 3px;
	margin-right: 3px;
}

.match-player {
	font-size: 16px;
}

/* UTILS */

.hidden {
	visibility: hidden;
}
